In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
import snscrape.modules.twitter as sntwitter
import plotly.graph_objects as go
from datetime import datetime

In [2]:
# Noting the time it takes to scrape 50000 tweets

start_time = datetime.now()

#Creating dataframe called 'data' and storing the tweets from May 1st 2021 to 30th Juy 2021 for 'Vaccine'
tweets = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('"clean water since:2021-01-01 until:2022-04-08 near:"Lagos"').get_items(),10000))

end_time = datetime.now()

# Printing the time taken to scrape these tweets
print('Duration: {} '.format(end_time - start_time))

Duration: 0:00:18.947328

In [3]:
tweets.head()

,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,quoteCount,...,media,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags
0,https://twitter.com/Smart_abbey/status/1512170...,2022-04-07 20:50:34+00:00,@Naija_PR Clean water,@Naija_PR Clean water,1512170993279713284,"{'username': 'Smart_abbey', 'id': 355543284, '...",0,0,0,0,...,None,None,None,1.512092e+18,"{'username': 'Naija_PR', 'id': 1901298962, 'di...","[{'username': 'Naija_PR', 'id': 1901298962, 'd...",None,None,None,None
1,https://twitter.com/homesnshelters/status/1512...,2022-04-07 16:26:38+00:00,NOW SELLING: FOUR(4) BEDROOM LUXURY TERRACES. ...,NOW SELLING: FOUR(4) BEDROOM LUXURY TERRACES. ...,1512104572130627592,"{'username': 'homesnshelters', 'id': 224755558...",1,2,2,0,...,[{'previewUrl': 'https://pbs.twimg.com/media/F...,None,None,NaN,None,None,None,None,None,None
2,https://twitter.com/atlas_ng/status/1511989880...,2022-04-07 08:50:53+00:00,Atlas initiative is saying reimagine and all c...,Atlas initiative is saying reimagine and all c...,1511989880393543681,"{'username': 'atlas_ng', 'id': 927913390114209...",0,0,4,0,...,[{'previewUrl': 'https://pbs.twimg.com/media/F...,None,None,1.511989e+18,"{'username': 'atlas_ng', 'id': 927913390114209...",None,None,None,[ATLAS],None
3,https://twitter.com/kingzodo/status/1511977533...,2022-04-07 08:01:49+00:00,*N75m Lekki Luxury Duplex*\n\nðŸ”‘ðŸ”‘ 4Bedrooms Sem...,*N75m Lekki Luxury Duplex*\n\nðŸ”‘ðŸ”‘ 4Bedrooms Sem...,1511977533193007105,"{'username': 'kingzodo', 'id': 249199431, 'dis...",1,0,1,0,...,[{'previewUrl': 'https://pbs.twimg.com/media/F...,None,None,NaN,None,None,"{'longitude': 3.2131467, 'latitude': 6.4278856}","{'fullName': 'Lagos, Nigeria', 'name': 'Lagos'...",None,None
4,https://twitter.com/timinipereAbaba/status/151...,2022-04-06 21:18:05+00:00,"@rotilaw @asemota Lebanese, Indians and Chines...","@rotilaw @asemota Lebanese, Indians and Chines...",1511815531753521158,"{'username': 'timinipereAbaba', 'id': 19573728...",2,0,4,0,...,None,None,None,1.511812e+18,"{'username': 'rotilaw', 'id': 406824132, 'disp...","[{'username': 'rotilaw', 'id': 406824132, 'dis...",None,None,None,None

In [4]:
tweets.shape, tweets.columns

((128, 27),
 Index(['url', 'date', 'content', 'renderedContent', 'id', 'user', 'replyCount',
        'retweetCount', 'likeCount', 'quoteCount', 'conversationId', 'lang',
        'source', 'sourceUrl', 'sourceLabel', 'outlinks', 'tcooutlinks',
        'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId',
        'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
        'cashtags'],
       dtype='object'))

In [ ]:
tweets.to_csv('clean_water_lagos.csv')