In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
import snscrape.modules.twitter as sntwitter
import plotly.graph_objects as go
from datetime import datetime

In [2]:
# Noting the time it takes to scrape 50000 tweets

start_time = datetime.now()

#Creating dataframe called 'data' and storing the tweets from May 1st 2021 to 30th Juy 2021 for 'Vaccine'
tweets = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('"Water scarcity since:2021-01-01 until:2022-04-08 near:"Cape Town"').get_items(),10000))

end_time = datetime.now()

# Printing the time taken to scrape these tweets
print('Duration: {} '.format(end_time - start_time))

Duration: 0:00:04.713575

In [3]:
tweets.head()

,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,quoteCount,...,media,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags
0,https://twitter.com/Lukhokhanya/status/1511599...,2022-04-06 06:58:55+00:00,@zsimayi Water scarcity is a shame in SA and I...,@zsimayi Water scarcity is a shame in SA and I...,1511599315013505025,"{'username': 'Lukhokhanya', 'id': 446860858, '...",1,0,1,0,...,None,None,None,1511596576556429314,"{'username': 'zsimayi', 'id': 2722891763, 'dis...","[{'username': 'zsimayi', 'id': 2722891763, 'di...",None,None,None,None

In [4]:
tweets.shape, tweets.columns

((1, 27),
 Index(['url', 'date', 'content', 'renderedContent', 'id', 'user', 'replyCount',
        'retweetCount', 'likeCount', 'quoteCount', 'conversationId', 'lang',
        'source', 'sourceUrl', 'sourceLabel', 'outlinks', 'tcooutlinks',
        'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId',
        'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
        'cashtags'],
       dtype='object'))

In [ ]:
tweets.to_csv('water_scarcity_capetown.csv')