In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
import snscrape.modules.twitter as sntwitter
import plotly.graph_objects as go
from datetime import datetime

In [2]:
# Noting the time it takes to scrape 50000 tweets

start_time = datetime.now()

#Creating dataframe called 'data' and storing the tweets from January 1st 2021 to Date'
tweets = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('"water crisis since:2021-01-01 until:2022-04-08 near:"Cape Town"').get_items(),10000))

end_time = datetime.now()

# Printing the time taken to scrape these tweets
print('Duration: {} '.format(end_time - start_time))

Duration: 0:00:05.738057

In [3]:
tweets.head()

,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,quoteCount,...,media,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags
0,https://twitter.com/CPTWaterCrisis/status/1511...,2022-04-05 11:50:56+00:00,The latest Water Crisis South Africa! https://...,The latest Water Crisis South Africa! news.wat...,1511310414616965123,"{'username': 'CPTWaterCrisis', 'id': 822208128...",0,0,0,0,...,None,None,None,NaN,None,"[{'username': 'WaterInstSA', 'id': 71835375714...",None,None,"[water, wisa]",None
1,https://twitter.com/TheCapeArgus/status/151028...,2022-04-02 15:56:41+00:00,ICYMI THIS WEEK | The Newlands Swimming Pool i...,ICYMI THIS WEEK | The Newlands Swimming Pool i...,1510285097894830082,"{'username': 'TheCapeArgus', 'id': 213170220, ...",0,0,3,1,...,None,None,None,NaN,None,None,None,None,None,None
2,https://twitter.com/TheCapeGreek/status/151024...,2022-04-02 13:29:01+00:00,"First thought on London: so many nice cars, an...","First thought on London: so many nice cars, an...",1510247934813691907,"{'username': 'TheCapeGreek', 'id': 99628751507...",0,0,0,0,...,None,None,None,NaN,None,None,None,None,None,None
3,https://twitter.com/FutureWaterUCT/status/1509...,2022-04-01 12:19:54+00:00,Lessons from the Cape Town water crisis and th...,Lessons from the Cape Town water crisis and th...,1509868152951296002,"{'username': 'FutureWaterUCT', 'id': 799611091...",1,2,2,0,...,None,None,None,NaN,None,"[{'username': 'kirsty_carden', 'id': 816624309...",None,None,None,None
4,https://twitter.com/CPTWaterCrisis/status/1509...,2022-04-01 11:50:53+00:00,The latest Water Crisis South Africa! https://...,The latest Water Crisis South Africa! news.wat...,1509860852995960836,"{'username': 'CPTWaterCrisis', 'id': 822208128...",0,0,0,0,...,None,None,None,NaN,None,"[{'username': 'SaveTheVaal', 'id': 78050694433...",None,None,None,None

In [4]:
tweets.shape, tweets.columns

((20, 27),
 Index(['url', 'date', 'content', 'renderedContent', 'id', 'user', 'replyCount',
        'retweetCount', 'likeCount', 'quoteCount', 'conversationId', 'lang',
        'source', 'sourceUrl', 'sourceLabel', 'outlinks', 'tcooutlinks',
        'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId',
        'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
        'cashtags'],
       dtype='object'))

In [ ]:
tweets.to_csv('water_crisis_capetown.csv')